<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
    <p>I am a software engineer working in Manhattan, NY. I enjoy working on server side
        application development and data intensive applications. Some of the technologies
        I have worked on previously are netty (event driven framework), apache kafka, storm, 
        spark etc.
        <br>
        <br>
        Apart from software, I also enjoy photography and try to maintain my own 
        website <a href='https://5point5shots.smugmug.com/'>5point5shots</a>. 
    </p>
</div>