<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
    <p>I am a software engineer working in Manhattan, NY. I enjoy working on server side
        application development and data intensive applications. I was lucky to get a chance
        to work on an extremely low latency high through put application (adserver, 20-30ms 
        response time at 99p) and also maintained a data pipeline built using java/kafka/storm
        that was capable of ingesting 500GB/day.
        
        Working on these projects has sparked interest in me in both these areas. I look forward 
        to continuing to enhance my skills and enjoy along the way. 
        <br>
        <br>
        Apart from software, I also enjoy photography and try to maintain my own 
        website <a href='https://5point5shots.smugmug.com/'>5point5shots</a>.
    </p>
</div>